<ion-header>
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-menu-button></ion-menu-button>-->
<!--    </ion-buttons>-->
<!--    <ion-title>-->
<!--      <img src="/assets/logo.PNG">-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
</ion-header>

<ion-content>
  <div align="center" style="margin-top: 15%">
    <img style="width: 200px; height: 100px;" src="/assets/nova-logo.png">
  </div>
</ion-content>


<!--<ion-toolbar>-->
<!--  <ion-buttons slot="start">-->
<!--    <ion-button (click)="site()">-->
<!--      <ion-icon name="globe-outline"></ion-icon>-->
<!--    </ion-button>-->
<!--    <ion-button (click)="telefone()">-->
<!--      <ion-icon name="call-outline"></ion-icon>-->
<!--    </ion-button>-->
<!--    <ion-button (click)="calculadora()">-->
<!--      <ion-icon name="calculator-outline"></ion-icon>-->
<!--    </ion-button>-->
<!--    <ion-button (click)="whatsapp()">-->
<!--      <ion-icon name="logo-whatsapp"></ion-icon>-->
<!--    </ion-button>-->
<!--    <ion-button (click)="portfolio()">-->
<!--      <ion-icon name="menu-outline"></ion-icon>-->
<!--    </ion-button>-->
<!--  </ion-buttons>-->
<!--</ion-toolbar>-->

<ion-toolbar style="border:solid 1px;
    box-shadow: 5px 5px 5px 10px black;" color="light">
  <ion-buttons slot="start">
    <ion-button (click)="site()">
      <ion-icon class="medium" name="globe-outline"></ion-icon>
    </ion-button>
    <ion-button style="margin-left: 20px" (click)="call()">
      <ion-icon class="medium" name="call-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons  style="margin: auto;
  width: 50%;">
    <ion-button  (click)="calculadora()">
      <ion-icon class="larger" name="calculator-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button style="margin-right: 20px" href="https://wa.me/554688266644">
      <ion-icon class="medium" name="logo-whatsapp"></ion-icon>
    </ion-button>
    <ion-button (click)="portfolio()">
      <ion-icon class="medium" name="menu-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
